h1{
    color: #871304;
    text-align: center;
    padding-top: 2rem;
}

h2,h3 {
    color: #871304;
    text-align: center;
    padding-top: 2rem;
}

h2 a {
    color:#255D19 ;
    
}
h3 a {
    color:#3D4B9E;

}
